{#{% extends "base.html" %}#}
{##}
{#{% block title %}Events - Ticket Sales Platform{% endblock %}#}
{##}
{#{% block content %}#}
{#<div class="container">#}
{#  <h2>Upcoming Events</h2>#}
{#  <p>This page will list all upcoming events. Check back soon for updates!</p>#}
{#</div>#}
{#{% endblock %}#}


{% extends "base.html" %}

{% block title %}Events - Ticket Sales Platform{% endblock %}

{% block content %}
<div class="container">
  <h2>Upcoming Events</h2>
  <p>This page will list all upcoming events. Check back soon for updates!</p>
</div>
{% endblock %}
